In [11]:
import pandas as pd
import numpy as np
import math
  
data = {'Name': ['Yash', 'Khwahish', 'Yogesh', 'Sweta'],
        'marks': [99, 98, 95, 90]}
data = pd.DataFrame(data, index=['Rank1',
                               'Rank2',
                               'Rank3',
                               'Rank4'])
data

           Name  marks
Rank1      Yash     99
Rank2  Khwahish     98
Rank3    Yogesh     95
Rank4     Sweta     90

In [2]:
def find_mean(list_of_numbers):
     sum_n = sum(list_of_numbers)
     len_n = len(list_of_numbers)
     mean = sum_n/len_n
     return mean

In [3]:
find_mean(data.marks)

95.5

In [4]:
def median(sample):
    sample.sort()
    length= len(sample)
    if(length/2==0):
        return (sample[length//2]+sample[length//2 + 1])/2
    else:
        return sample[(length+1)//2]

In [5]:
median(list(data.marks))

98

In [9]:
def mode(list_of_numbers):
    counter = {}
    for i in list_of_numbers:
        if i in counter:
            counter[i]+=1
        else:
            counter[i] = 1
    key_max = sorted(counter, key=counter.get, reverse=True)[:1][0]
    frequency = counter[key_max]
    return key_max, frequency

In [10]:
mode(data.marks)

(99, 1)

In [12]:
def variance(data):
        n = len(data)
        mean = sum(data) / n
        deviations = [(x - mean) ** 2 for x in data]
        variance = sum(deviations) / n
        return variance

In [13]:
variance(data.marks)

12.25

In [14]:
def stdev(data):
       var = variance(data)
       std_dev = math.sqrt(var)
       return std_dev

In [15]:
stdev(data.marks)

3.5